{% extends 'patient/patient.html' %}
{% block modal%}
<style>
    .timeslot,.childtimeslot {
  background-color: #00c09d;
  width: 70px;
  height: 20px;
  color: white;
  padding:3px;
  margin-top: 1px;
  font-size: 14px;
  border-radius: 1px;
  vertical-align: center;
  text-align:center;
  display: inline-block;
}
</style>
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/bookAppointment/">
          <!--<div class="mb-3">
            <label for="message-text" class="col-form-label" style="color: rgb(128, 128, 0)">Doctor name:</label>
            <output style="color: rgb(128, 128, 0)">Steve Mendis</output>
          </div>
 
          <div class="mb-3">
            <label for="message-text" class="col-form-label" style="color: rgb(128, 128, 0)">Hospital name:</label>
            <output style="color: rgb(128, 128, 0)">IU hospital</output>
          </div>       -->  
          <span class="input-group-addon" style="color: black;">Please select a doctor</span>
            <select name="doctor_name">
                {% for option in doctors_list %}
                <option value="{{ option.name }}">{{ option.name }}</option>
                {% endfor %}
            </select>
 
            <div class="field">
                <div class="control">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label" style="color: rgb(128, 128, 0)">Appointment date</label>
                        <input type="date" name="Appointment_date" class="form-control" id="Appointment-startdate" value=today.format() required >
                       
                    </div>
                </div>
            </div>
            <button onclick="getTimeSlots()">Show available time slots</button>
            <!--<div id="toggle" style="display:none;">Hello</div>-->
 
            <ul id="toggle1" style="display:none;">
                <li class="timeslot">Time</li>
            </ul>
           
       
        </form>
      </div>
      <div class="modal-footer">
        <a href="{{url_for('patientUtility.patient')}}" class="btn btn-secondary">Close</a>
      </div>
    </div>
  </div>
</div>
 
{% endblock %}
 
{% block script %}
<script>
$(document).ready(function(){
  console.log("window is loaded")
  $("#exampleModal").modal("show");
 
 
})
function getTimeSlots(){
    console.log('Hi Amita');
    const testStuff = [ '9 to 10', '10 to 11', '11 to 12', '12 to 1', '1 to 2','2 to 3','3 to 4','4 to 5'];
    document.getElementById('toggle1').style.display = "";
    console.log(booked_slots)
    // for (let i = 0; i < testStuff.length; i++) {
    //  let element = document.createElement('li');
    //  element.innerHTML = testStuff[i];
    //  element.className = 'childtimeslot';
    //  document.getElementsByClassName('timeslot')[0].appendChild(element);
    // }
 
    /*for(let i = 9; i < 12; i++) {
        //Create a new node, based on the template:
        console.log(i,' ',i+1);
        var element = document.createElement("div");
        element.id = "timeslot"
        element.innerHTML = i," to ",i+1;
        element.style = "color:black";
        document.getElementById("toggle1").appendChild(element);
       
    }*/
   
   
}
 
function showContent(){
  var temp, item, a, i;
  temp = document.getElementsByTagName("template")[0];
  //get the div element from the template:
  item = temp.content.querySelector("div");
  //for each item in the array:
  for (let i=9; i < 5; i++) {
    //Create a new node, based on the template:
    console.log(i,' ',i+1);
    a = document.importNode(item, true);
    //Add data from the array:
    a.textContent += myArr[i];
    //append the new node wherever you like:
    document.body.appendChild(a);
  }}
 
 
 
</script>
{% endblock %}
  <!--<form class="verticalform">
    <input type="text" class="form-control dp" />
    <input type="datetime-local" name="Date" required/>
    </form>-->
   
 
 

